.category_container {
  padding: 5rem 10rem;
}

.input_container {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form_input {
  padding: 1rem 0;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(200, 200, 200);
  font-size: 1.6rem;
  font-weight: 600;
  background-color: transparent;
  width: 35rem;
}

.form_row {
  display: flex;
  width: 100%;
}

.input_container > label {
  margin-bottom: 2rem;
}

.image_btn {
  padding: 1.5rem 3rem;
  width: 40%;
  background-color: rgb(47, 119, 182);
  color: #fff;
  border-radius: 0.3rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.submit_btn {
  padding: 1.5rem 10rem;
  border-radius: 3rem;
  font-size: 1.7rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(101deg, rgb(251 126 2), rgb(178 2 2));
  box-shadow: rgb(251 126 2 / 40%) 0px 3px 16px 0px;
  margin-top: 8rem;
}

.category_list_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 3rem;
  row-gap: 2rem;
  column-gap: 2rem;
}

.category,
.meal,
.subscription,
.tiffin {
  border: 1px solid rgb(207, 207, 207);
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
}

.category_name {
  text-align: center;
}

.options {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.category_modal {
  position: absolute;
  top: 3rem;
  right: 3rem;
  background-color: #dfdfdfd1;
  width: 70%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.category_modal_hide {
  display: none;
}

.category_modal > div {
  padding: 1rem 2rem;
  cursor: pointer;
}

.category_modal > div:hover {
  background-color: #ffffff;
  border-radius: 0.3rem;
}

.select_user_img {
  height: 25rem;
  width: 25rem;
  border: none;
  outline: none;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
}

.edit_text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0.98;
  color: #000;
  height: 3rem;
  width: 100%;
  font-weight: 600;
}

.food_image {
  height: auto;
  width: 100%;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}

.category_img {
  height: auto;
  width: 25rem;
}

.form_textarea {
  outline: none;
  padding: 1rem;
  font-size: 1.6rem;
  width: 35rem;
}

.select_input {
  padding: 1rem 0;
  outline: none;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: transparent;
  width: 35rem;
  border-color: rgb(200, 200, 200);
  border-radius: 0.3rem;
}

.discount_price {
  font-size: 1.4rem;
}

.real_price {
  font-size: 1.4rem;
  color: #6a6a6a;
  text-decoration: line-through;
}

.veg_sign {
  color: green;
}

.nonveg_sign {
  color: red;
}

.category_sign {
  position: relative;
  top: 0.2rem;
}

.day_container {
  display: flex;
  gap: 1rem;
  border: 1px solid rgb(193, 193, 193);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  overflow: scroll;
}

.day_meal {
  height: 10rem;
  width: 12rem;
  transition: 0.5s;
}

.day_meal:hover {
  border: 2px solid #ff7200;
  padding: 0.2rem;
}

.selected {
  border: 2px solid #ff7200;
  padding: 0.3rem;
}

.meal_name {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1rem;
}

.meal_container {
  width: 12rem;
  cursor: pointer;
  padding: 0.5rem;
}

.day_col_container {
  margin-top: 3rem;
  width: 50%;
}

.form_col {
  display: flex;
  gap: 3rem;
}
