.home_page {
    padding: 0 11.6rem;
}

.page_header {
    padding: 4rem 0;
}

.page_heading {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 500;
}

.tabs {
    display: flex;
    gap: 4rem;
}

.tab_element {
    font-size: 1.6rem;
    cursor: pointer;
    color: rgb(160, 160, 160);
    padding: 1rem;
}

.active_tab {
    text-decoration: underline;
    text-underline-offset: 1rem ;
    text-decoration-thickness: 4px;
    color: #000;
    text-decoration-color: #fc2e71;
}

@media screen and (max-width: 540px) {
    .home_page {
        padding: 0 3rem;
    }
}