.footer_container {
  margin-top: 2rem;
  padding: 3rem 7.2rem;
  background-color: rgb(5, 36, 101);
}

.footer_logo_container {
  height: 8rem;
  width: 8rem;
  position: relative;
}

.footer_desc {
  font-size: 0.8rem;
  color: #fff;
  width: 50%;
  line-height: 1.5rem;
}

.sitemap {
  font-size: 2.3rem;
  font-variant-caps: all-petite-caps;
  color: rgb(255, 49, 109);
  border-bottom: 1px solid rgb(52, 51, 51);
}

.footer_link_container {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.link_heading {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(52, 51, 51);
}

.link_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.link_container > a {
  width: fit-content;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-decoration: none;
  background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 2px
    no-repeat;
  transition: 0.5s;
}

.link_container > a:hover {
  --d: 100%;
}
