.footer_container {
  margin-top: 5rem;
  padding: 6rem 11.6rem;
  background-color: rgb(5, 36, 101);
}

.footer_logo_container {
  height: 12rem;
  width: 12rem;
  position: relative;
}

.footer_desc {
  font-size: 1.4rem;
  color: #fff;
  width: 50%;
  line-height: 2.3rem;
  margin: 2rem 0;
}

.sitemap {
  font-size: 3.3rem;
  font-variant-caps: all-petite-caps;
  color: rgb(255, 49, 109);
  border-bottom: 1px solid rgb(52, 51, 51);
}

.footer_link_container {
  margin-top: 2.5rem;
  display: flex;
  gap: 10rem;
}

.link_heading {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 2rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
  text-decoration-color: rgb(52, 51, 51);
}

.link_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link_container > a {
  width: fit-content;
  color: #fff;
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: none;
  background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 2px
    no-repeat;
  transition: 0.5s;
}

.link_container > a:hover {
  --d: 100%;
}

@media screen and (max-width: 540px) {
  .footer_container {
    padding: 3rem;
  }

  .footer_desc {
    width: 100%;
  }

  .footer_link_container {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 0rem;
  }

  .footer_link_container > div {
    margin-bottom: 4rem;
    width: 33%;
  }
}