.navigation_bar {
  background-color: #fff;
  padding: 0.6rem 2.5rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}

.nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav_logo {
  height: 7rem;
  width: 8.3rem;
  position: relative;
  cursor: pointer;
}

.nav_mid_links {
  display: flex;
  gap: 7rem;
  align-items: center;
}

.nav_end_links {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.whatsapp_icon {
  height: 3rem;
  width: 5rem;
  position: relative;
}

.login_container {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.user_icon {
  height: 1.7rem;
  width: 1.7rem;
  position: relative;
}

.link_ele > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}

.active_link > a {
  color: rgb(251 126 2);
}

.desktop_nav {
  display: flex;
}

.mobile_nav {
  display: none;
}

.mobile_bottom_nav {
  display: none;
}

.nav_icon_container {
  height: 3rem;
  width: 3rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.active_element {
  color: rgb(251 126 2);
}

.down_arrow {
  font-size: 2rem;
}

.dropdown_menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem;
  background-color: #fff;
  right: 1rem;
  z-index: 1;
  border-radius: 0.5rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.dropdown_menu > span {
  padding: 1.4rem 4rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.dropdown_menu > span:hover {
  background-color: #d4d4d4ac;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.icon_container {
  cursor: pointer;
  position: relative;
  width: 3rem;
}

.cart_icon {
  font-size: 2rem;
}

.item_count {
  background-color: red;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  color: #fff;
  font-size: 1.3rem;
  position: absolute;
  bottom: 1.5rem;
  right: 0.2rem;
}

@media screen and (max-width: 540px) {
  .nav_mid_links {
    gap: 1.5rem;
  }

  .nav_end_links {
    gap: 0.3rem;
  }

  .link_ele > a {
    font-size: 1.3rem;
  }

  .mobile_nav {
    display: block;
  }

  .desktop_nav {
    display: none;
  }

  .mobile_bottom_nav {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 5rem;
  }
}
