.navigation_bar {
  background-color: #fff;
  padding: 0.6rem 2.5rem;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
}

.nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
}

.nav_logo {
  height: 5rem;
  width: 13.3rem;
  position: relative;
  cursor: pointer;
}

.nav_mid_links {
  display: flex;
  gap: 7rem;
  align-items: center;
}

.nav_end_links {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}

.whatsapp_icon {
  height: 3rem;
  width: 5rem;
  position: relative;
}

.login_container {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.user_icon {
  height: 1.7rem;
  width: 1.7rem;
  position: relative;
}

.link_ele > a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #000;
}

.active_link > a {
  color: #fc2e71;
}

.desktop_nav {
  display: flex;
}

.mobile_nav {
  display: none;
}

.mobile_bottom_nav {
  display: none;
}

.nav_icon_container {
  height: 3rem;
  width: 3rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.active_element {
  color: #fc2e71;
}

@media screen and (max-width: 540px) {
  .nav_mid_links {
    gap: 1.5rem;
  }

  .nav_end_links {
    gap: 0.3rem;
  }

  .link_ele > a {
    font-size: 1.3rem;
  }

  .mobile_nav {
    display: block;
  }

  .desktop_nav {
    display: none;
  }

  .mobile_bottom_nav {
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    gap: 5rem;
  }
}
